.gallery__like-button {
    border: none;
    background: rgba(0, 0, 0, 0);
    margin: 1px 0 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-icon.svg);
}