.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    background-image: url(../../../images/сlose-icon.svg);
    background-size: contain;
    border: none;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}