.popup__container {
    width: 430px;
    max-height: 330px;
    height: initial;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    position: relative;
    top: calc(50% - 330px / 2);
    left: calc(50% - 430px / 2);
    background: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
        max-height: 322px;
        padding: 25px 22px 25px;
        top: calc(50% - 322px / 2);
        left: calc(50% - 282px / 2);
    }
}