.profile__add-button {
    margin: 35px 0 0 auto;
    padding: 12px 62px;
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #000;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        margin: 32px auto 0;
        width: 282px;
        padding: 15px 131px;
    }
}